@use '../base/variables' as *;

footer {
  background-color: $color-dark;
  color: $color-light;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  
  @media (max-width: $breakpoint-mobile) {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}